@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator App</h1>
    <p><form action="http://localhost:31992/api/values/1" method="get">
    <input type="text" name="f1"value="2">
    <input type="text" name="f2" value="2">
    <button>Calc</button>
</form>
    </p>
</div>
